fastapi
uvicorn
pydantic
python-multipart
langchain
langchain-core
langchain-community
sentence-transformers
chromadb
pymupdf
langchain-groq
sqlalchemy
psycopg2
alembic
docx2txt
unstructured
python-pptx
easyocr
pdf2image
passlib
bcrypt==4.0.1
python-jose
groq