fastapi
uvicorn
pydantic
python-multipart
langchain
langchain-core
langchain-community
pymupdf
langchain-groq
sqlalchemy
psycopg2-binary
alembic
docx2txt
unstructured
python-pptx
pdf2image
passlib
bcrypt==4.0.1
python-jose
groq
qdrant-client
requests