@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar:horizontal {
  display: none;
}